<div class="card">
    <div class="card-header">
        List your  Property
    </div>
    <div class="card-body">
        <form (ngSubmit)='onSubmit()' #Form="ngForm">
            <div>
                <tabset #formTabs>
                  <tab heading="Basic Info">
                    <div class="form-group col-12">
                        <label for="name">Name</label>
                        <input type="text" class="form-control" #propName="ngModel" ngModel name="Name" required minlength="5">
                        <span *ngIf="!propName.valid && propName.touched" class="error-block">
                            <span *ngIf="propName.errors?.required">Please provide Name</span>
                            <span *ngIf="propName.errors?.minlength">Name should be 5 char long</span>
                        </span>
                    </div>
                    <div class="form-group col-12">
                        <label for="type">Type</label>
                        <input type="text" class="form-control" ngModel name="Type">
                    </div>
                    <div class="form-group col-12">
                        <label for="price">Price</label>
                        <input type="text" class="form-control" ngModel name="Price">
                    </div>
                    
                      <button type="button" class="btn btn-primary btn-block mt-2" (click)="selectTab(1)">Next</button>
            
                  </tab>
                  <tab heading="Pricing and Area">
                      Pricing Information
                      <button type="button" class="btn btn-primary btn-block mt-2" (click)="selectTab(2)">Next</button>
                      <button type="button" class="btn btn-primary btn-block m-2" (click)="selectTab(0)">Back</button>
                  </tab>
                  <tab heading="Address">
                      Address
                      <button type="button" class="btn btn-primary btn-block mt-2" (click)="selectTab(3)">Next</button>
                      <button type="button" class="btn btn-primary btn-block m-2" (click)="selectTab(1)">Back</button>
                    </tab>
                  <tab heading="Other Details">
                      Other Detail
                      <button type="button" class="btn btn-primary btn-block mt-2" (click)="selectTab(4)">Next</button>
                      <button type="button" class="btn btn-primary btn-block m-2" (click)="selectTab(2)">Back</button>
                    </tab>
                  <tab heading="Photoes">
                      Upload photos
                      <button type="button" class="btn btn-primary btn-block mt-2" (click)="selectTab(5)">Next</button>
                      <button type="button" class="btn btn-primary btn-block m-2" (click)="selectTab(3)">Back</button>
                    </tab>
                </tabset>
              </div>            
            
        </form>
    </div>
</div>>